@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Resets  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
body {
    margin: 0;
}


:root {
    
    /* Typography */

    --main-font: 'Montserrat', sans-serif;
    --sec-font: 'Michroma', sans-serif;
    
    /* Colors */

    --main-light-color: #fff;
    --sec-light-color: #F0F0F0;
    --main-dark-color: #283147;
    --font-gray-color: #4B4B4B;
    --font-lightgray-color: #8a8a8a;
    --light-gray-color: #D0CFCF;
    --dark-gray-color: #DDDDDD;
    --bg-gray: #F2ECEC;
    --bg-dark: #1E1B22;
    --bg-blue-gray: #f4f6f7;
    --accent-color: #505da7;
    --hover-color: #414b68;

    /* Transitions */

    --simple-transition: all 0.2s ease-out;
    --button-bg-transition: background-color 0.1s ease-in-out;
    --button-color-transition: background-color 0.1s ease-in-out;

    --menu-transition: all .3s ease-in-out;
    --hover-transition: color 0.2s ease, border 0.2s ease;

    /* Margins */

    --margin-frame: clamp(.8rem, 1.4vw, 2.4rem);

      /* General */

      scroll-behavior: smooth;
      font-family: var(--main-font);
      

}

/* General */


h2 {
    font-family: var(--sec-font);
    color: var(--main-dark-color);
    font-size: clamp(1.75rem, 4vw, 4.25rem);
    font-weight: 400;
}

h3 {
    font-family: var(--sec-font);
    color: var(--main-dark-color);
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
    text-transform: uppercase;
}
h4 {
    font-family: var(--sec-font);
    color: var(--main-dark-color);
    font-size: clamp(1.2rem, 2vw, 2.25rem);
    font-weight: 400;
}

p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.4;
    color: var(--font-gray-color);
    max-width: 60ch;
}

.small-text {
    color: var(--font-lightgray-color)
}

a {
    color: var(--font-gray-color);

    &:hover {
        text-decoration: none;
    }
}



/* Aniamations */

@keyframes moveUpDown {
    /* Define the keyframes for the animation */
    from {
      transform: translateY(-5px); /* Start position: no translation */
      opacity: 1
    }
    to {
      transform: translateY(15px); /* End position: translate vertically by 10 pixels */
      opacity: 0;
    }
  }

@keyframes changeBgColor {
0% {
    background-color: #285f50;
}
50% {
    background-color: #283d5f;
    }
    100% {
    background-color: #3d3271;
    }

}

@keyframes fadeIn {
0% { 
    opacity: 0; 
    filter: blur(2px);
}

100% { opacity: 1; }
}


/* Scroll Observer Animations */

.scroll-animated {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(5px);
    transition-property: opacity transform filter;
    transition-duration: 1s;
    transition-timing-function: easy;
    transition-delay: 100ms;


    @media (max-width: 400px) {
        & {
            opacity: 1;
            transform: translateX(0);
            filter: blur(0);
        }
        
    }

    &.show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}



/* Hero Gradient */

canvas {
    width: 80%;
    height: 110%;
    top: 50%; /* Position the element 50% from the top of the container */
    left: 46%; /* Position the element 50% from the left of the container */
    transform: translate(-50%, -50%); 
    position: absolute;
    filter: blur(130px);
    animation: changeBgColor 20s ease-in-out infinite alternate;
    background-image:     
    linear-gradient(90deg, #152020a4 3%, transparent 30%),
    linear-gradient(90deg, transparent 50%, #152020 100%);

    @media (max-width: 600px) {


        & {
            background-image:
            linear-gradient(90deg, #152020a4 3%, transparent 30%),
            linear-gradient(90deg, transparent 50%, #152020 100%),
            radial-gradient(at 11% 94%, hsla(289,24%,36%,1) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(175,11%,20%,1) 0px, transparent 50%),
            radial-gradient(at 36% 60%, hsla(322,45%,41%,1) 0px, transparent 50%),
            radial-gradient(at 91% 94%, hsla(173,60%,11%,1) 0px, transparent 50%),
            radial-gradient(at 79% 27%, hsla(234,44%,36%,1) 0px, transparent 50%);
        }
        filter: blur(60px);

        
    }

}


/* Buttons */

a:has(.btn) {
    text-decoration: none;
}

.btn {
    font-size: clamp(.8rem, 2vw, 1rem);
    font-family: var(--main-font);
    font-weight: 500;
    padding: .7rem;
    border-radius: .6rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: var(--button-bg-transition), var(--button-color-transition);
    cursor: pointer;    

    &.primary {
        background-color: var(--main-dark-color);
        color: var( --sec-light-color);


        &:hover {
            background-color: var(--hover-color);
        }

        &.form {
            width: fit-content;
            font-size: clamp(.8rem, 1.2vw, 1.1rem);
            padding: clamp(.5rem, .7vw, .7rem) 1.2rem;
            border-radius: .7rem;
            text-transform: uppercase;
            font-weight: 600;
            color: white;

            & svg {
                width: clamp(1rem, 1.2vw, 1.3rem)
            }
        } 
    }

    &.secondary {
        color: var(--main-dark-color);
        background-color: var(--dark-gray-color);


        &:hover {
            background-color: var(--sec-light-color);

        }
    }
}


/* Scroll header behavor */

.container {
    margin: 0 auto 0 10%;
    max-width: 70%;
}


.grid {
    display: flex;
    margin-top: 1rem;

    &.two-one {
        grid-template-columns: 2fr 1.5fr;
        gap: clamp(2rem, 8vw, 8rem);
    }



    &.one-one {
        gap: clamp(2rem, 1vw, 3rem);
    }

    &.even {
        direction: rtl; /* Reverse the order of items within the grid item */
      }

    &.even  > * {
        direction: ltr; /* Restore the original direction of child elements */
      }

    & .column {
        flex: 1;
    }


    @media (max-width: 800px) {

        &  {
            flex-direction: column;

            &.one-one {
                flex-direction: column-reverse;
            }
        }
      }
}

.column {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4vh, 3rem);
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}


/* Navigation */

.logo {
    color: var(--dark-gray-color);
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: clamp(0.8rem, 1vw, 1.1rem);
    border: 2px solid var(--dark-gray-color);
    position: fixed;
    top: var(--margin-frame);
    left: var(--margin-frame);
    z-index: 100;
    transition: var(--hover-transition);

    &:hover {
        color: var(--main-light-color);
        border: 2px solid var(--main-light-color);
    }
}

.main-nav {

    .nav-links {
        position: fixed;
        top: var(--margin-frame);
        right: calc(var(--margin-frame) + 1rem);
        display: block;
        z-index: 10;
    }

    & ul { 

        list-style-type: none;

        & li {
            text-align: center;
            line-height: 1.1;
            margin: 0.7rem 0;
            list-style-type: none;
            font-size: 0.9rem;

            &:nth-last-child(1) {
                margin: 0 auto;
                padding: 0;
            }
        }
    }

        & li::before {
            font-weight: 300;
            display: flex;
            font-size: 1rem;
            padding: .4rem 0 1rem;
            justify-content: center;
            content: '\26AC';
            color: var(--dark-gray-color);
            transition: var(--hover-transition);
            
        }

        & a {
            color: var(--dark-gray-color);
            text-transform: uppercase;
            padding: .6rem 1rem;
            font-weight: 600;
            text-decoration: none; 
            transition: var(--hover-transition);

            &.active {
                color: var(--main-light-color);
                border: 1px solid var(--main-light-color);
                border-radius: 10rem;
            }

            &:hover {
                color: var(--main-light-color);
            }
        }

        & .resume {
            margin: 0;
            border: 1px solid var(--dark-gray-color);
            padding: .8em 1.4em;
            transition: var(--hover-transition);
        
            &:hover {
                border: 1px solid var(--main-light-color);
            }
        };

    &.is-open {
        position: fixed;
        display: block;
        z-index: 90;
        background-color: var(--bg-dark);


        & .nav-links {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        & a {
            font-weight: 400;
            padding: .6rem;

            &.active {
                color: var(--main-light-color);
                font-weight: 600;
                border: none;
            }
        }

        & li {
            font-size: 1rem;
            margin: 0.7rem auto;
            text-align: center;
            max-width: fit-content;

            &:before {
                content: '';

                }
            }
        }
    };

.social-nav {
    position: fixed;
    z-index: 100;
    bottom: calc(1.5 * var(--margin-frame));
    left: calc(var(--margin-frame) + 20px);

    & ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    & li svg {
        color: var(--dark-gray-color);
        transition: var(--hover-transition);

        &:hover {
            color: var(--main-light-color);
        }
    }

    &.is-open {
        display: block;
        left:auto;
        bottom: auto;
        right: var(--margin-frame);
        top: 94vh;
        transition: var(--menu-transition);
        z-index: 110;

        & ul {
            display: flex;
            flex-direction: row;
        }
    }
}

.hamburger-menu {
    position: fixed;
    top: calc(var(--margin-frame) + 5px);
    right: var(--margin-frame);
    z-index: 100;
    display: none;
    cursor: pointer;
    width: 34px;
    height: 26px;
    pointer-events: all;

    .bar,
    .bar:before,
    .bar:after {
        content: '';
        position: absolute;
        display: block;
        background-color: var(--dark-gray-color);
        height: 2px;
        width: 100%;
        border-radius: 3rem;
        transition: all .3s ease-in-out;
    }

    .bar {
        top: 0rem;
    }

    .bar:before {
        top: 12px;
        width: 80%;
        right: 0;
    }

    .bar:after {
        top: 24px;
    }

    &.is-open {

        .bar {
          transform: rotate(45deg);
          top: 13px;

          &:before {
            width: 0%;
          }

          &:after {
            top: 0;
            transform: rotate(-90deg);
          }
        }
      }
    }
      

@media (max-width: 1150px) {


    .main-nav {
        display: none;
        width: 100%;
        min-height: 100vh;
        /* animation: fadeIn ease-in-out .3s; */
        touch-action: none;
    }

    .main-nav > * {
        animation: fadeIn ease-in-out .3s;
    }
    .social-nav {
        display: none;
        animation: fadeIn ease-in-out .3s;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
    }

    .logo {
        position: absolute;
    }
}


/* Misc */

.hidden {
    display: none;
}

.overflow {
    overflow: hidden;
}

.blend-mode  {
    mix-blend-mode: difference;
}


@media (max-width: 1150px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}


/* Hero section */

.hero {
    background-color: #152020;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
            url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.97' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        pointer-events: none;
        opacity: 0.8;
        z-index: 0;
        mix-blend-mode: soft-light;
        filter: brightness(80%);
    }

    & .container {
        padding-top: 13rem;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(1rem, 3vh, 3rem);
        filter: hue-rotate(50deg);
        z-index: 3;

        @media (max-width: 1150px) {
            & {
                max-width: 90%;
            }
        }

        @media (max-height:800px) {
            &  {
             padding-top: 6rem;
     
         }
        }

    }
    




    & .hello {
        font-size: clamp(0.9rem, 4vw, 2rem);
        color: var(--dark-gray-color);
        transition-delay: 100ms;

    }

    & .name {
        font-family: var(--sec-font);
        font-weight: 400;
        font-size: clamp(2.1rem, 10vw, 5.6rem);
        color: var(--main-light-color);
        line-height: 0.8;
        transition-delay: 200ms;
    }

    & .devo {
        font-size: clamp(1rem, 6vw, 2rem);
        color: var(--main-light-color);
        transition-delay: 400ms;

    }

    & .description {
        font-size: clamp(0.9rem, 4vw, 1.6rem);
        color: var(--sec-light-color);
        font-weight: 300;
        line-height: 1.5;
        max-width: 60ch;
        transition-delay: 500ms;

    }

    & hr {
        border: none; /* Remove default hr border */
        border-top: 2px solid var(--sec-light-color);
        max-width: 50rem;
        transition-delay: 200ms;
        

    }

}

.svg-container {
    position: absolute;
    bottom: -1px;
    width: 100%; /* Make the SVG container span the entire width */
    overflow: hidden; /* Hide any overflow from the SVG */
    z-index: 3;
  }




.button-down {
    border: 1px solid var(--dark-gray-color);
    padding: .9rem .2rem;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 88vh;
    transition: var(--hover-transition);

    &:hover {
        filter: brightness(110%);

    }


}

/*  About section */

.about {
    background-color: var(--bg-gray);
    padding-top: clamp(.8rem, 9vw, 9rem);
    padding-bottom: clamp(2rem, 17vw, 20rem);

    .skills-container {
        gap: 1rem
    }

    .skill {
        font-size: clamp(0.75rem, 2vw, 1rem);
        padding: .5rem 1.25rem;
        border-radius: 3rem;
        line-height: 1;
        margin-bottom: .5rem;

    }

    .skill::before {
        content: '\2713';
        margin-right: 5px;
    }




}

/*  Projects section */

.projects {
    padding-bottom: 0;
    background-color: var(--main-light-color);
    display: flex;
    flex-direction: column;

    & h2 {
        padding-bottom: max(.9rem, min(3vw, 2rem));
    }

    .black {
        background-color: var(--bg-dark);

        & h4 {
            color: var(--main-light-color)
        }

        .small-text {
            color: var(--dark-gray-color)
        }

        & p {
            color: var(--main-light-color)
        }
    }
    
    .gray {
        background-color: var(--bg-blue-gray);
    }
    
    .white { 
        background-color: var(--main-light-color);
    }

    .project {
        padding-top: clamp(1.5rem, 6vw, 9rem);
        padding-bottom: clamp(1rem, 9vw, 16rem);
    }

    .project-first {
        padding-top: clamp(.9rem, 3.8vw, 6rem);
        padding-bottom: clamp(1.5rem, 10vw, 17rem);
    }
    

    .image-container {
        align-self: flex-start;
    }


    & img {
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    .column {
        display: grid;
        flex-direction: column;
        justify-items: start;
        align-items: center;
        gap: 1.5rem;

    .links {
        margin-top: 2rem;
        display: flex;
        gap: 1rem
    }

    .tech-container {
        gap: .4rem;
    }

    .tech-tag {
        font-size: clamp(.7rem, 2vw, .9rem);
        border-radius: 3rem;
        line-height: 1;
        background-color: var(--dark-gray-color);
        padding: .3rem .9rem;

    }

    .tech-tag::before {
        content: '\2713';
        margin-right: 5px;
    }
}
    @media (max-width: 700px) {

        & .image-container {
            display: none;

        }
}
}

.small-project {
    border-radius: clamp(1.5rem, 2.4vw, 2.5rem);
    padding: clamp(2rem, 3vw, 3rem) clamp(1.5rem, 4vw, 3rem) clamp(3rem, 6vw, 6rem);

    & h4 {
        font-size: clamp(1.2rem, 1.5vw, 2rem);

    }



    & .head {
        display: grid;
        grid-template-columns: .1fr 1fr;
        gap: .4rem;
        align-items: center;




        & svg {
            color: var(--sec-light-color);
            width: clamp(3rem, 4vw, 4rem);
            height: 100%;

        }

    }
}

/* Footer */

footer,
.form__success-page {    
    background-color: #152020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-image:
    linear-gradient(90deg, #152020a4 3%, transparent 30%),
    linear-gradient(90deg, transparent 50%, #152020 100%),
    radial-gradient(at 11% 94%, hsla(289,24%,36%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(175,11%,20%,1) 0px, transparent 50%),
    radial-gradient(at 36% 60%, hsla(322,45%,41%,1) 0px, transparent 50%),
    radial-gradient(at 91% 94%, hsla(173,60%,11%,1) 0px, transparent 50%),
    radial-gradient(at 79% 27%, hsla(234,44%,36%,1) 0px, transparent 50%);

    &::after {
        content: "";
        position: absolute;
        bottom: -1;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
            url("data:image/svg+xml,%3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.97' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        pointer-events: none;
        opacity: 0.7;
        z-index: 0;
        filter: brightness(80%);
        mix-blend-mode: soft-light;

    }

    .box-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 2vh;
        background-color: var(--main-light-color);
        border-radius: clamp(1.5rem, 2.4vw, 2.5rem);
        padding: clamp(2rem, 3vw, 3rem) clamp(1.5rem, 4vw, 4rem) clamp(3rem, 6vw, 6rem);
        z-index: 20;
        border: 1px;
        z-index: 3;

    }

    & form {
        display: flex;
        flex-direction: column;
        gap: clamp(.8rem, 1.8vh, 2rem);
    }

    & input, & textarea {
        font-family: var(--main-font);
        font-size: clamp(.75rem, 2vw, 1.2rem);
        color: var(--font-gray-color);
        background-color: var(--sec-light-color);

        padding: clamp(.5rem, .6vw, .6rem) clamp(.6rem, .8vw, .8rem);
        border: none;
        border-radius: .6rem;
        width: 100%;
    }

    & textarea {
        min-height: 12rem;

        @media (max-width: 700px) {
            & {
                min-height: 8rem;
            }
        }
     }

    .footer-text {
        color: var(--main-light-color);
        letter-spacing: 1px;
        font-size: clamp(.5rem, 1.2vw, 0.8rem);
        font-weight: 300;
        text-shadow: 1px 1px 1px #000;
        z-index: 10;
        text-align: center;

        & a {
            color: var(--main-light-color)

        }
    }
}




